*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    align-items: center;
    height: 80px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
    padding: 20px;
}

#nav_nosotros:hover{
    background-color: black;
    color: white;
    border-radius: 50px;

}

.inicio{
    background-color: black;
    color: white;
    border-radius: 50px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid;
}

.sectionContainer{
    display: flex;
    align-items: center;
    text-align: center;
    flex: 50%;   
    background-color: black;
    color: white;
    padding: 2%; 
}

.asideContainer{
    display: flex;
    flex: 50%;
    padding-left: 10%;
    
    
}

#p_container{
    font-size: 250%;
}

.subtemas{
    font-size: 35px;
    text-align: center;
    margin: 5%;
    color: white;
    max-width: 100%;
    max-height: 100%;
}

.container_subs{
    background-color: black;
}

.contenedores{
    display: flex;
    flex-wrap: wrap;
}

#sc1{
    flex: 22%;
    text-align: center;
}

#sc2{
    flex: 22%;
    margin-left: 2%;
    text-align: center;   
}
#sc3{
    flex: 22%;
    
    text-align: center;
    
}

#sc4{
    flex: 22%;
    text-align: center;
}

.sc_p{
    font-size: 25px;
}

footer{
    display: flex;
    margin-top: 4%;
}

#mensajeFooter{
    flex: 50%;
}
#botónFooter{
    flex: 30%;
    margin-left: 10px;
    
}
button{
    color: rgb(27, 25, 25);
    background-color: rgb(187, 184, 184);
    width:  50%;
    font-size: 200%;
    border-radius: 7%;
    padding: 3%;
    
}
#mf_p{
    font-size: 250%;
    text-align: center;
}
footer{
    background-color: black;
    color: white;
    align-items: center;
}

button:hover{
    background-color: rgb(116, 113, 113);
    color: black;
}


