*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    align-items: center;
    height: 80px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
    padding: 20px;
}

.inicio{
    background-color: black;
    color: white;
    border-radius: 50px;
}


.container{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid;
}

.sectionContainer{
    display: flex;
    align-items: center;
    text-align: center;
    flex: 50%;   
    background-color: black;
    color: white;
    padding: 2%; 
}

.asideContainer{
    display: flex;
    flex: 50%;
    padding-left: 10%;
    
    
}

#p_container{
    font-size: 250%;
}

h2{
    text-align: center;
    margin: 5%;
}

.secondContainer{
    display: flex;
    flex-wrap: wrap;
}

#sc1{
    flex: 22%;
    text-align: center;
}

#sc2{
    flex: 22%;
    margin-left: 2%;
    text-align: center;   
}
#sc3{
    flex: 22%;
    
    text-align: center;
    
}

#sc4{
    flex: 22%;
    text-align: center;
}

